.card{
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: fit-content;
    width: calc(20% - 24px);
    padding: 15px;
    cursor: pointer;
    transition: all 150ms ease-in-out ;
}
.card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(1.005);
}
.cardItems{
    margin: 0px 0px 15px 0px;
    font-size: 14px;
}
.cardItems:last-child {
    margin-bottom: 0px;
}

.cardItems p, .cardItems h3{
    font-size: 17px;
    margin-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}


@media only screen and (max-width: 600px) {
    .card{
        width: 100%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card{
        width: calc(50% - 24px);
    }
}

@media only screen and (min-width: 850px) {
    .card{
        width: calc(40% - 72px);
    }
}


@media only screen and (min-width: 1000px) {
    .card{
        width: calc(30% - 79px);
    }
}
@media only screen and (min-width: 1200px) {
    .card{
        width: calc(20% - 24px);
    }
}

