.bodyLock{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 400ms ease-in;
}
.sidebar{
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    overflow-y: auto;
    width: 500px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: 30px 40px;

}
.projectSidebar{
    right: -500px;
    transition: right 800ms ease-in-out, opacity 300ms ease-in-out 500ms, visibility 300ms ease-in-out 500ms;
}

.header{
    padding-bottom: 15px;
    display: flex;
    gap: 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.301);
}

.header2{
    flex-direction: row-reverse;
    justify-content: space-between;
}

.closeBtn{
    display: grid;
    place-items: center;
    height: 30px;
    width: 30px;
    font-size: 18px;
    border: 0;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 2px solid #f55257;
    color: #f55257;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.closeBtn:hover{
    color: white;
    background: #f55257;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.closeBtn:disabled {
    pointer-events: none;
  }
  
  
  .closeBtn:active {
    transform: scale(.95);
  }

.items{
    margin: 20px 0;
}
.items p{
    margin: 10px 0px 0px 22px;
}

.showProjectSidebar{
    right: 0;
    opacity: 1;
    visibility: visible;
    transition: right 800ms ease-in-out, opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.filterSidebar{
    left: -500px;
    transition: left 800ms ease-in-out, opacity 300ms ease-in-out 500ms, visibility 300ms ease-in-out 500ms;
}

.showFilterSidebar{
    Left: 0;
    opacity: 1;
    visibility: visible;
    transition: left 800ms ease-in-out, opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

@media only screen and (max-width: 600px) {
    .sidebar{
        width: 100%;
    }
}

